services:
  backend:
    build: .
    ports:
      - '8000:8000'
    volumes:
      - "./:/app"
    depends_on:
      - db

  db:
    image: postgres:16
    ports:
      - "5432:${POSTGRES_PORT}"
    env_file:
      - ./.env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data


volumes:
  pgdata: