<div class="card">  {% comment %}16px{% endcomment %}
    {% if post.preview %}
    <img src="{{ post.preview.url }}" class="card-img-top" alt="..." height="350">
    {% else %}
    <img src="https://img2.safereactor.cc/pics/post/%D0%BA%D0%BE%D1%82%D0%B8%D0%BA-%D0%BA%D0%BE%D1%82%D1%8D-%D1%85%D0%B7-%D0%BA%D0%B0%D0%BA%D0%B8%D0%B5-%D0%B4%D0%BE%D0%B1%D0%B0%D0%B2%D0%B8%D1%82%D1%8C-%D1%82%D0%B5%D0%B3%D0%B8-4236351.jpeg" class="card-img-top" alt="..." height="350">
    {% endif %}

    <div class="card-body">
        <h5 class="card-title">{{ post.name }}</h5>
        <p class="card-text">{{ post.short_description }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <b>Автор: </b>{{ post.author }}
        </li>
        <li class="list-group-item">
            <b>Категория: </b>{{ post.category }}
        </li>
        <li class="list-group-item">
            <b>Дата публикации: </b>{{ post.created_at }}
        </li>
        <li class="list-group-item">
            <b>Кол-во просмотров: </b>{{ post.views_qty }}
        </li>
    </ul>
    <div class="card-body">
        <a href="{% url 'post-detail' post.id %}" class="card-link">Подробнее</a>
    </div>
</div>